<div class="header">
    <mat-toolbar>
        <!-- <button mat-icon-button class="example-icon menu-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <span class="logo">HALLIBURTON</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon profile-pic"
            aria-label="Example icon-button with heart icon">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu" class="user-name">
            <br />
            <small>Super Admin</small>
        </button>
        <mat-menu class="menu-list" #menu="matMenu" yPosition="above">
            <button mat-menu-item>Account</button>
            <button mat-raised-button  (click)="logout()">Logout</button>
        </mat-menu>
        <!-- <span class="arrow">
            <mat-icon>arrow_drop_down</mat-icon>
        </span> -->
    </mat-toolbar>
</div>