<app-header></app-header>
<button mat-icon-button class="example-icon menu-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.open()">
    <mat-icon>menu</mat-icon>
</button>
<div class="bgimg">
    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <div class="close" (click)="sidenav.close()">
                <mat-icon>close</mat-icon>
            </div>
            <ul class="nav">
                <li appExpandMenu>
                    <a [routerLink]="['sperryMet/two']">SperryMet</a>
                </li>
                <ul class="nav submenu">
                    <li>
                        <a>Motor Size Data</a>
                    </li>
                    <li>
                        <a>Motor Type Data<br />
                            <small>(Application, Power Unit Lobes & Stages)</small>
                        </a>
                    </li>
                    <li appExpandMenu>
                        <a>Power Unit Data<br />
                            <small>(Sizes Types & Elastomers)</small>
                        </a>
                        <ul class="new-menu">
                            <li class="sub-menu-header">
                                <a>Power Unit Data<br />
                                    <small>(Sizes Types & Elastomers)</small>
                                </a>
                            </li>
                            <hr/>
                            <li>
                                <a [routerLink]="['dashboard/sperryMet/two']">Power Unit Summary Table
                                    
                                </a>
                            </li>
                            <li>
                                <a>Performance Data</a>
                            </li>
                            <li>
                                <a>Stator Size Types</a>
                            </li>
                            <li>
                                <a>Rotor Size Types</a>
                            </li>
                            <li>
                                <a>Rotor/Stator Pairing</a>
                            </li>
                            <li>
                                <a>Fit & Temperature Ranges</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Motor Specification<br />
                            <small>(Motor Type, Power Unit, Lower End)</small>
                        </a>
                    </li>
                    <li>
                        <a>Utilities</a>
                    </li>
                    <li>
                        <a>Lower End Data</a>
                    </li>
                    <li>
                        <a>Tolerances</a>
                    </li>
                    <li>
                        <a>Other</a>
                    </li>
                    <li>
                        <a>Administration</a>
                    </li>
                </ul>
                <li>
                    <a [routerLink]="['md/one']">3MDv2</a>
                </li>
            </ul>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- <app-spinner></app-spinner>
    <button (click)="test()">Test</button> -->
</div>
<app-footer></app-footer>